* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #7a0099;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
   
    border: 1px solid rgb(63, 63, 63);
    background-color: #f5f5f5;


}
.toolbox {
    background-color: rgb(153, 153, 153);
    border: 1px solid rgb(63, 63, 63);
    display: flex;
    width: 802px;
    padding: 1rem;

}

.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.toolbox > *:last-child {
    margin-left: auto;
}